/*Common*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.font-size15 {
    font-size: 15px !important;
}
.text-aligh {
    text-align: center !important;
}
.mt8 {
    margin-top: 8px !important;
}
.mt16 {
    margin-top: 16px !important;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
.clear {
    clear: both;
}
.row {
    margin-left: -8px;
    margin-right: -8px;
}
.row::after {
    content: "";
    display: block;
    clear: both;
}
.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-full {
    width: 100%;
}
.col-half {
    width: 50%;
}
.col-third {
    width: 33.3333%;
}




/*Main*/
#main {

}

#header {
    position: fixed;
    top: 0 ;
    left: 0;
    right: 0;
    width: 100%;
    height: 46.5px;
    background-color: #000;
    z-index: 1;
}
#nav {
    display: inline-block;
}
#nav li {
    list-style: none;
    display: inline-block;
    position: relative;
}
#nav > li > a {
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    padding: 0 24px;
}
#nav li a { 
    text-decoration: none;
    line-height: 46.5px;
} 
.subnav li:hover a,
#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
}
#nav > li:hover .subnav {
    display: block;
}
#nav .subnav{
   display: none;
   position: absolute;
   top: 100%;
   left: 0;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav .subnav li {
    background-color: #fff;
    min-width: 160px;
}
.subnav li a {
    color: #000;
    display: block;
    padding: 0 12px;
}
#nav li .down-ic {  
}
.mobile-menu-btn,
.search-btn {
    float: right;
}
.mobile-menu-btn {
    display: none;
}
.search-btn:hover {
    background-color: rgb(244, 67, 54);
    cursor: pointer;
}
.mobile-menu-btn:hover {
    background-color: #ccc;
    cursor: pointer;
    
}
.mobile-menu-btn:hover .mobile-menu-icon {
    color: #000;
}
.mobile-menu-btn .mobile-menu-icon,
.search-btn .search-ic {
    color: #fff;
    font-size: 20px;
    line-height: 46.5px;
    padding: 0 24px;
}
#slider {
    margin-top: 46.5px;
    position: relative;
    padding-top: 50%;
    background: url('/assets/image/sliders/slider1.jpg') top center / cover no-repeat;
}
.text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.text-heading {
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 500;

}
.text-description {
    font-size: 15px;
}
#content {
}
#content .content-section{
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
.content-section .section-heading {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 4px;
    font-size: 30px;
}
.content-section .section-sub-heading {
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
    font-size: 15px;
}
.content-section .text-about {
    text-align: justify;
    margin-top: 30px;
    font-size: 15px;
    line-height: 1.4;
}
#content .member-list {
    padding-top: 32px;
}
#content .member-avt {
    width: 154px;
    border-radius: 4px;
}
#content .member-name {
    margin: 15px 0;
}
#content .tour-section {
    background-color: #000;
}
.text-white {
    color: #fff !important;
}
#content .book-ticket {
    background-color: #fff;
    margin-top: 30px;
}
.book-ticket li {
    list-style: none;
    font-size: 15px;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}
.tour-section .place-container {
    margin-top: 32px;
}
.tour-section .sold-out {
    background-color: rgb(244, 67, 54);
    color: #fff;
    padding: 3px 6px;
    margin-left: 16px;
}
.tour-section .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
    margin-top: -2px;
}
.tour-section .place-img {
    width: 100%;
    display: block;
}
.tour-section .place-img:hover {
    opacity: 0.6;
}
.tour-section .place-content {
    background-color: #fff;
    font-size: 15px;
    padding: 16px;
}
.tour-section .place-heading {
    padding: 15px 0;
    font-size: 15px;
    font-weight: 550;
}
.tour-section .place-time {
    padding: 15px 0;
    opacity: 0.6;
}
.tour-section .place-desc {
    padding: 15px 0;
}
.tour-section .btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #000;
    color: #fff;
}
.tour-section .btn:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}
.contact-form {
    padding-top: 48px;
}
.contact-form .form-control {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    
}
.contact-form .btn {
    float: right;
    margin-top: 16px;
    padding: 11px 16px;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
}
.contact-form .btn:hover {
    cursor: pointer;
    color: #000;
    background-color: #ccc;
    border: none;
}
.main-contact-form {
    font-size: 15px;
}
.infor-contact-form {
    font-size: 18px;
    line-height: 1.5;
}
.infor-contact-form p i {
    width: 30px;
    
}
.map img {
    width: 100%;
}

#footer {
    padding: 64px 0;
}
#footer p {
    text-align: center;
    margin: 15px 0;
    color: rgba(0, 0, 0, 0.6);
}
#footer p a {
    color: rgba(0, 0, 0, 0.6);
     
}
.media-list {
    text-align: center;
    font-size: 24px;
}
.media-list li {
    display: inline-block;
    list-style: none;
    text-align: center;
}
.media-list li a {
    color: rgba(0, 0, 0, 0.6);
}
.media-list li:hover a {
    color: rgba(0, 0, 0, 0.4);
}

/* modal*/
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
}
.modal.open {
    display: flex;
}
.modal-container {
    position: relative;
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 300px;
    box-shadow: 0 0 10px rgb(26, 122, 113);
    animation: modalFadeIn 0.5s ease;
}
.modal .modal-close {
    position: absolute;
    right: 0;
    padding: 14px;
    font-size: 20px;
    font-weight: 100;
    opacity: 0.5;
}
.modal .modal-close:hover {
    cursor: pointer;
    opacity: 1;
}
.modal-header i {
    margin-right: 16px;
}
.modal .modal-header {
    display: flex;
    font-size: 30px;
    padding: 44px 0;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 150, 136);
}
.modal-body {
    padding: 16px;
}
.modal-label {
    display: block;
    margin: 15px 0;
    font-size: 15px;
}
.modal-input {
    margin-bottom: 15px;
    border: 1px solid #bbb;
    width: 100%;
    padding: 12px 16px;
    font-size: 15px;
}
.pay-btn {
    width: 100%;
    padding: 16px 0;
    background-color: rgb(0, 150, 136);
    border: 1px solid rgb(0, 150, 136);
    color: #fff;
    text-transform: uppercase;
}
.pay-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}
.modal-footer {
    text-align: right;
    padding: 16px;
    font-size: 15px;
}
.modal-footer a {
    color: #2196F3 ;
}
@keyframes modalFadeIn {
    from {
        opacity: 0.2;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

